*~
*out
*err
*.d
*.o
*.aux
*.dvi
*.pdf
*.so
*.bin
*.intbin
*.meta
*.log
*.gz
*.bz2
*.pyc
*.pb
*.ckpt.*
checkpoint
data/
train/
test/
script/.ipynb_checkpoints/
tmp*
CMakeCache.txt
CMakeFiles
*.bk
build
_skbuild
deepmd_kit.egg-info/
dist
.eggs
_version.py
venv*
